<section>
    <div class="Header"> 
        <div class="Logo">
            <div class="logoMin">
                <img src="https://wubcare.s3.amazonaws.com/1646840303968abc.png" alt="logo">
            </div>
          <!-- <h1>Hello User</h1> -->
        </div>
        <div class="Navigation">
            <div class="Avater">
                <a href="javascript:void(0);">
                    <figure><img src="{{userData.profilePic}}"></figure> {{userData.firstName}}  </a>
                <ul>
                    <li [routerLink]="['/myprofile']">
                        <figure><img src="{{userData.profilePic}}"></figure>
                        <h4> {{userData.firstName}} <span>User</span></h4>
                    </li> 
                    <li><a (click)="adminLogout()"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<!-- https://wubcare.s3.amazonaws.com/1646840303968abc.png -->