
 
    <div class="SidenavBar">
        <div class="Logo">
            <img src="assets/images/Inner-Logo.png">
        </div>
        <ul> 
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/dashboard']">
                  <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>Dashboard
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/myprofile']">
                  <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>My Profile
                </a>
            </li>
            
          
            
            <li>
                <a (click)="adminLogout()">
                    <span><i class="fa fa-sign-out"></i></span> Logout
                </a>
            </li> 
        </ul>
    </div>

