<section>
    <div class="LoginMain">
        <div class="LoginBox">
            <div class="LoginLogo">
                <figure>
                    <img src="https://wubcare.s3.amazonaws.com/1646840303968abc.png" alt="Logo">
                </figure>
            </div>
            <div class="LoginForm">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text"  [(ngModel)]="data.email" formControlName="emailId" class="form-control" placeholder="Enter Email id">
                    </div>
                    <div class="text-danger"
                    *ngIf="(loginForm.get('emailId')?.hasError('required') && (submitted || (loginForm.get('emailId')?.dirty)))">
                    *Email is required
                </div>
                <div class="text-danger"
                    *ngIf="(loginForm.get('emailId')?.hasError('pattern') && (submitted ||  (loginForm.get('emailId')?.dirty)))">
                    *Please Enter valid email
                </div>
                    <div class="form-group">
                        <label> Password</label>
                        <input #y type="password" [(ngModel)]="data.password" formControlName="password" class="form-control" placeholder="Enter Password">
                      <span class="Eye">  <i class="fa fa-eye-slash "(click)="y.type=y.type=='password'?'text':'password'" aria-hidden="true"></i></span>
                    </div>
                    <div class="text-danger"
                    *ngIf="(loginForm.get('password')?.hasError('required') && (submitted || (loginForm.get('password')?.dirty)))">
                    *Password is required
                </div>
                    <div class="forgotPass">
                        <div class="checkBox">
                            <input type="checkbox" value="lsRememberMe" id="rememberMe">
                            <label for=""></label>
                            <span>Remember Me</span>
                        </div>
                    </div>
                    <div class="SubmitButton">
                        <button type="button" class="Button" (click)="onLogIn()">Submit</button>
                    </div>
                </form>
                <p class="signup">Do you have a Already account ? <a  [routerLink]="['/signup']" > Sing Up</a></p>
            </div>
        </div>
    </div>
</section>