@charset "utf-8";

/* @import url('bootstrap.min.css'); */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 110%; 
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important } 

input[type="date"] {text-transform: uppercase !important;}

.Flex{ display: flex; }

.Green{ color: #37a713; }
.Red{ color: #e21818; }
.Blue{ color: #139bbf; }
.Yellow{ color: #feca05; }


.Button {
    border: none;
    padding: 10px 40px;
    text-align: center;
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    display: inline-block;
    position: relative;
    background-color: #007bff;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .5px;
    border-radius: 0;
    outline: 0;
    border-radius: 5px;
    font-family: 'Roboto';
}.Button:hover{    background-color: #007bff;color: #fff;}


.LoginMain {
    background-color: #93dbe5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}.LoginMain .LoginBox {
    background-color: #efefef;
    padding: 35px;
    max-width: 500px;
    margin: auto;
    width: 95%;
    border-radius: 15px;
    /* border: 10px solid #139bbf; */
}.LoginMain .LoginBox figure {
    width: 54px;
    margin: 0 auto 20px;
    overflow: hidden;
 
}
 h5{text-align:center;margin:0 0 7px;font-size: 23px;font-weight:600;color:#000;}
.LoginMain .LoginBox h6{text-align:center;margin:0 0 30px;font-size: 13px;color:#000;font-weight:500;line-height:19px;}
.form-group{position:relative;margin:0 0 20px 0}
 .form-group label {
    font-weight: 600;
    color: #000;
    font-size: 14px;
    display: block;
    font-family: Roboto;
}.form-group label sup{color: #cc0909;font-size: 18px;top: -2px;}
 .form-group .form-control {
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 10px 25px 10px 10px;
}
.form-group .Icon{width:34px;height:34px;background-color: #fff;text-align:center;line-height:34px;border-radius: 4px;position:absolute;left:4px;z-index:100;top:28px;color: #000;}
.LoginMain .LoginBox .Checkboxs{ margin: 0 0 20px 0; font-family: Roboto }
.LoginMain .LoginBox .Checkboxs a{color: #fff;font-size: 14px;font-weight: 500;text-transform: capitalize;letter-spacing: 0;float: right;}
.LoginMain .LoginBox .Checkboxs a:hover{color: #e42329;}

.LoginMain .LoginBox button,
.LoginMain .LoginBox a.Login{border:none;padding: 11px 40px;text-align: center;transition:0.5s all ease-in-out;font-weight:500;display:block;position:relative;   background-color: #139bbf;font-size: 16px;color:#fff;text-transform:capitalize;width:100%;font-family: 'Roboto';}
.LoginMain .LoginBox button:hover,
.LoginMain .LoginBox button:hover, .LoginMain .LoginBox a.Login:hover {
    background-color: #139bbf;
}


/* .Switch{position:relative;display:inline-block;width: 45px;height: 22px;margin: 0 5px 0 0;border-radius:50px;}
.Switch input{opacity:0;width:0;height:0}
.Switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#a5aab4;transition:0.4s;border-radius:50px}
.Switch .slider:before{position: absolute;content: "";height: 18px;width: 18px;left: 3px;bottom: 2px;background-color: #fff;transition: 0.4s;border-radius: 50%;}
.Switch input:checked+.slider{background-color: #e42329;}
.Switch input:focus+.slider{box-shadow:0 0 1px #2196f3}
.Switch input:checked+.slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform: translateX(21px);}
 */
 .Header h1{
     font-size: 16px;
    padding: 10px;
 }
 .Header{/* box-shadow:0 2px 4px rgba(0,0,0,.08); *//* -webkit-box-shadow:0 2px 4px rgba(0,0,0,.08); */position:fixed;width: 100%;left: 0;top:0;background-color:#fff;z-index:99;}
 .Header .Logo{width:235px;background-color: #fff;text-align:center;padding:5px 0;float:left;height:60px;box-shadow:0 2px 4px rgba(0,0,0,.08);}
 .Header .Logo img{width: 123px;}
 .Header .Navigation{transition:all 0.2s ease;margin-left:235px;padding:7px 3.2rem;width:calc(100% - 235px);text-align:right;height:60px}
 .Header .Navigation .Avater{margin:5px 0 5px 30px;position:relative;display:inline-block}
 .Header .Navigation .Avater a{display:flex;align-items:center;font-size:14px;color:#000}
 .Header .Navigation .Avater a figure{width:35px;border-radius:50%;margin:0 15px 0 0;overflow:hidden}
 .Header .Navigation .Avater ul{right:0;left:auto;top:100px;border:none;padding:0;margin:0;min-width:200px;opacity:0;visibility:hidden;transition:0.5s all ease-in-out;position:absolute;box-shadow:0 1px 4px #ddd;background-color:#fff}
 .Header .Navigation .Avater ul li{margin:0;border-bottom:1px solid #d2d3d4}
 .Header .Navigation .Avater ul li:first-child{background-image:linear-gradient(45deg,#05899b,#04bad2);position:relative;padding:15px 10px 15px 60px;text-align:left;border-bottom:1px solid #fff}
 .Header .Navigation .Avater ul li figure{width:35px;height:35px;border-radius:50%;position:absolute;top:15px;left:15px;border:2px solid #fff;overflow:hidden}
 .Header .Navigation .Avater ul li h4{color:#fff;font-size:17px;line-height:18px}
 .Header .Navigation .Avater ul li h4 span{font-size:11px;font-weight:400}
 .Header .Navigation .Avater ul li a{color:#4e4e4e;padding:10px 20px;font-weight:400;transition:0.5s all ease-in-out}
 .Header .Navigation .Avater ul li a span{margin:0 10px 0 0}
 .Header .Navigation .Avater ul li a:hover{background-color:#58595b;color:#fff}
 .Header .Navigation .Avater:hover ul{opacity:1;visibility:visible;top:115%}
 
.SidenavBar{height: calc(100% - 60px);position:fixed;width:235px;top: 60px;padding:0;box-shadow: 0 0 15px rgba(0,0,0,.1);overflow: auto;}
.SidenavBar::-webkit-scrollbar-track{background:#bbb;border-radius:0}
.SidenavBar::-webkit-scrollbar-thumb{background-color: #1b7ce3;border-radius:0;transition:background-color 0.2s linear,width 0.2s ease-in-out;-webkit-transition:background-color 0.2s linear,width 0.2s ease-in-out;}
.SidenavBar::-webkit-scrollbar{width:7px;border-radius:0}
.SidenavBar .Logo{ text-align: center; padding: 15px 0; height: 130px; display: none;}
.SidenavBar .Logo img{ width: 90px;}
.SidenavBar ul{margin:0;}
.SidenavBar ul li{margin:0}
.SidenavBar ul li a{display:block;cursor:pointer;padding:13px 20px 13px 45px;transition:0.5s all ease-in-out;color:#484848;font-family:"Roboto";font-size:14px;text-transform:capitalize;position:relative;border-bottom:1px solid #ddd}
.SidenavBar ul li a span{font-size:15px;display:inline-block;position:absolute;top:13px;left:20px}
.SidenavBar ul li.active a,
.SidenavBar ul li a:hover{background-color: #0aa5ef;color:#fff;}
.WrapperArea{margin-left:235px;flex:1 1 auto;width:calc(100% - 235px);display:flex;flex-direction:column;margin-top:60px;transition:0.5s all ease-in-out}
.WrapperArea .WrapperBox{padding:35px;background-color:#efefef;min-height:calc(100vh - 60px)}
.Small-Wrapper{background-color:#fff;padding:25px;border:1px solid #dcdcdc}

.SearchBox{ display: flex; align-items: center; justify-content: space-between; margin: 0 0 20px 0;}
.Small-Wrapper h5 {
    margin: 0;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Roboto';
}
.Small-Wrapper p{
    font-weight:600;color:gray;font-size:20px;font-family: 'Roboto';margin: 20px 0; text-align: center;

}
.driveBtns{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
a.TitleLink i{
    margin-right: 10px;
}
a.TitleLink{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.SubmitButton{
    text-align: center;
}
.LoginBox span.Eye{

    top: 35px;
    }
    span.Eye {
        position: absolute;
        right: 7px;
        z-index: 100;
        top: 40px;
        color: #139bbf;
        font-size: 16px;
    }
.forgotPass a{
    color: var(--colorOrange);
    font-weight: 500;
    font-size: 14px;
}
.forgotPass{
    text-align: right;
}
.checkBox input + label {
    position: relative;
    left: -25px;
    height: 20px;
    width: 20px;
    background: var(--colorOrange);
    border: 1px solid #139bbf;
    border-radius: 5px;
    margin: 0;
}
.checkBox input:checked + label::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid #139bbf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkBox input{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    position: relative;
    opacity: 0;
    z-index: 999;
}
.forgotPass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.checkBox span{
    display: block;
    font-weight: 500;
    color: var(--colorBlack);
    font-size: 12px;
    position: relative;
    left: -15px;
}
.checkBox {
    display: flex;
    align-items: center;
}
.PasswordPos{
    position: relative;
}
.PasswordPos .formControl{
    padding-right: 35px;
}
.PasswordPos span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--colorOrange);
}
.commonBox{
    padding: 30px;
    padding-left: 305px;
    width: 100%;
}
.whiteBox{

}
.whiteBox p {
    font-size: 15px;
    margin-bottom: 20px;
   
    font-weight: 600;
}
.imgUploder {}
.imgUploder .imagePreview {
    border: 3px solid #007bff !important;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 30px;
}
.imagePreview img{}
.EditMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
p.signup{
    margin-top: 20px;
    text-align: center;
}
.Header .Logo img {
    width: 50px;
}