
    <app-side-nab></app-side-nab>
    <app-header></app-header>
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="driveBtns">
                <h2 class="main">Saw Your Profile !
                </h2>
                <a class="TitleLink" [routerLink]="['/dashboard']"><i class="fa fa-long-arrow-left"></i> Back</a>
            </div>
            <div class="commonBox">
                <div class="boxInner">
                    <div class="whiteBox">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="Adminprofile">
                                    <div class="EditMain">
                                        <h3> Change Profile</h3>>
                                        <div class="SubmitButton">
                                            <button type="button" class="Button" [routerLink]="['/my-profile-edit']">Edit</button>
                                        </div>
                                    </div>
                                    </div>
                                    <form>
                                        <div class="imgUploder">
                                           
                                            <div class="imagePreview">
                                                <img src= "{{userData?.profilePic}}">
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label >First Name</label>
                                            <input type="text" class="form-control " name='firstName' value={{userData?.firstName}} disabled/>
                                        </div>

                                        <div class="form-group">
                                            <label >Last Name</label>
                                            <input type="text" class="form-control " name='lastName' value={{userData?.lastName}} disabled/>
                                        </div>

                                        <div class="form-group">
                                            <label >Email</label>
                                            <input type="text" class="form-control " name='Email' value={{userData?.email}} disabled/>
                                        </div>

                                        <div class="form-group">
                                            <label >Phone Number</label>
                                            <input type="text" class="form-control " name='Phone Number' value={{userData?.phoneNumber}} disabled/>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        
        </div>
    