<section>
    <div class="LoginMain">
        <div class="LoginBox">
            <div class="LoginLogo">
                <figure>
                    <img src="https://wubcare.s3.amazonaws.com/1646840303968abc.png" alt="Logo">
                </figure>
            </div>
            <div class="LoginForm">
                <form [formGroup]="signUpForm">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" formControlName="firstName"
                            placeholder="Enter Your First Name">
                    </div>
                    <div class="text-danger"
                        *ngIf="(signUpForm.get('firstName')?.hasError('required') && (submitted || (signUpForm.get('firstName')?.dirty)))">
                        *FirstName is required
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName"
                            placeholder="Enter Last Name">
                    </div>
                    <div class="text-danger"
                        *ngIf="(signUpForm.get('lastName')?.hasError('required') && (submitted || (signUpForm.get('lastName')?.dirty)))">
                        *lastName is required
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter Email id">
                    </div>
                    <div class="text-danger"
                        *ngIf="(signUpForm.get('email')?.hasError('required') && (submitted || (signUpForm.get('email')?.dirty)))">
                        *Email is required
                    </div>
                    <div class="text-danger"
                    *ngIf="(signUpForm.get('email')?.hasError('pattern') && (submitted ||  (signUpForm.get('email')?.dirty)))">
                    *Please Enter valid email
                </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Enter PhoneNumber">
                    </div>
                    <div class="text-danger"
                        *ngIf="(signUpForm.get('phone')?.hasError('required') && (submitted || (signUpForm.get('phone')?.dirty)))">
                        *Phone Number is required
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input #y type="password" class="form-control" formControlName="password"
                            placeholder="Enter Password">
                        <span class="Eye"> <i class="fa fa-eye-slash "
                                (click)="y.type=y.type=='password'?'text':'password'" aria-hidden="true"></i></span>
                    </div>
                    <div class="text-danger"
                        *ngIf="(signUpForm.get('password')?.hasError('required') && (submitted || (signUpForm.get('password')?.dirty)))">
                        *Password is required
                    </div>
                    <div class="SubmitButton">
                        <button type="button" class="Button" (click)="addUser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>