
    <app-side-nab></app-side-nab>
    <app-header></app-header>
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <h5>hello </h5>
                <h5> Welcome To My Page !!!</h5>
            </div>
        
        </div>
    </div>