<app-side-nab></app-side-nab>
<app-header></app-header>
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="driveBtns">
            <h2 class="main">Update Your Profile !!</h2>
            <a class="TitleLink" [routerLink]="['/myprofile']"><i class="fa fa-long-arrow-left"></i> Back</a>
        </div>
        <div class="commonBox">
            <div class="boxInner">
                <div class="whiteBox">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="Adminprofile">
                                <div class="EditMain">
                                </div>
                            </div>
                            <form [formGroup]="profileEdit">
                                <div class="imgUploder">

                                    <div class="imagePreview">
                                        <img src="{{userData.profilePic}}">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" formControlName="firstName"
                                        value={{userData?.firstName}} name='firstName'
                                        placeholder="Enter Your First Name" />
                                </div>

                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" formControlName="lastName"
                                        value={{userData?.lastName}} name='lastName'
                                        placeholder="Enter Your Last Name" />
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" value={{userData?.email}} name='Email'
                                        disabled />
                                </div>
                                <div class="text-danger"
                                    *ngIf="(profileEdit.get('email')?.hasError('pattern') && (submitted ||  (profileEdit.get('email')?.dirty)))">
                                    *Please Enter valid email
                                </div>

                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" formControlName="phone"
                                        value={{userData?.phoneNumber}} name='PhoneNumber'
                                        placeholder="Enter Your Phone Number" />
                                </div>

                                <div class="SubmitButton">
                                    <button type="button" class="Button" (click)="editUser()">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>